.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.image-container{
  width: 400px;

  position: relative;
  object-fit: contain;
}

.item {
  width: 400px;
  display: none;
}

.item > img {
  width: 100%;
}


.active{
  display: block;
}

.button-box{
  position: absolute;
}

.up{
  left: 50%;
  top: 5%;
  transform: translate(-50%);
}

.down{
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}